<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Guide</li>
    <li><%= link_to "Home", root_path %></li>
    <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
    <% end %>
    <li class="nav-header">Morality</li>
    <li><a href="#">Abortion</a></li>
    <li><a href="#">Death Penalty</a></li>
    <li><a href="#">Euthanasia</a></li>
    <li><a href="#">Homosexuality</a></li>
    <li class="nav-header">History</li>
    <li><a href="#">Early Church Fathers</a></li>
    <li><a href="#">The East-West Schism</a></li>
    <li><a href="#">The Protestant Reformation</a></li>
  </ul>
</div><!--/.well -->
