<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render 'layouts/sidebar' %>
      <div class="span9">
        <div class="hero-unit">
          <%= yield %>
          <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
        <%= render 'layouts/grid_items' %>
      </div><!--/span-->
    </div><!--/row-->
  </div>
	<div class="container">
    <!--<%= yield %> This should be here according to the Michael Hartl Tutorial-->
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
